# Do not add your OS/IDE/Editor files to here.
# Please use global ignore instead.
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore

node_modules

# Rollup cache
.rpt2_cache

# Package packed by `npm pack`
*.tgz

lib

example/build
example/package-lock.json
