.container {
  font-family: Roboto, sans-serif;
}

.container > :not(:first-child) {
  margin-top: 24px;
}

.title {
  font-size: 24px;
  margin: 0;

  color: #333;
  font-weight: 400;
}

.required {
  color: #a01a1a;
}
