.container h1 {
  font-size: 24px;
}

.container h2 {
  font-size: 22px;
}

.container h3 {
  font-size: 20px;
}

.container h4 {
  font-size: 18px;
}

.container h5 {
  font-size: 16px;
}

.container h6 {
  font-size: 14px;
}

.container p {
  font-size: 14px;
  margin: 16px 0;

  color: #333;
}

.container a {
  color: #0D7CCD;
}

.container pre,
.container code {
  font-size: 12px;
  padding: 4px 8px;

  font-family: 'Roboto Mono', monospace;
  background-color: #eee;
  border-radius: 4px;
}

.container pre {
  display: block;
  padding: 16px;
  margin: 16px 0;
}

.container pre > code {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}
